@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply box-border font-sans text-white bg-dark;
  }

  a {
    @apply text-blue;
  }

  h1 {
    @apply text-3xl md:text-4xl lg:text-6xl;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-[3.25rem];
  }

  h3 {
    @apply text-xl md:text-2xl lg:text-[2.5rem];
  }

  h4 {
    @apply text-lg md:text-xl lg:text-3xl;
  }

  h5 {
    @apply text-base md:text-lg lg:text-[1.75rem];
  }

  h6 {
    @apply text-sm md:text-base lg:text-2xl;
  }

  .padding-content {
    @apply px-5 sm:px-[50px] lg:px-[100px];
  }

  $full-height-content: calc(100vh - 84px);
  $sm-full-height-content: calc(100vh - 72px);

  .min-full-height-content {
    min-height: calc(100vh - 84px);

    @screen sm {
      min-height: calc(100vh - 72px);
    }
  }

  .full-height-content {
    height: calc(100vh - 84px);

    @screen sm {
      height: calc(100vh - 72px);
    }
  }
}
